@import url("https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
}

.App {
  position: absolute;
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  width: 100vh;
  left: 50%;
  transform: translate(-50%);
  /* outline: 1px solid pink; */
}

.composition {
  position: absolute;
  top: 14vh;
  left: 16vh;
  height: 68vh;
  /* outline: 1px solid red; */
}

#github-logo {
  position: absolute;
  bottom: 4vh;
  width: 48px;
  left: 84vh;
  transform: translate(-100%, 6%);
}

h1 {
  font-size: 1.2rem;
  line-height: 0;
  color: white;
}

span {
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}

#primitivo-logo {
  position: absolute;
  left: 16vh;
  bottom: 4vh;
}

@media only screen and (orientation: portrait) {
  .App {
    height: 100vw;
    width: 100vw;
    /* outline: 1px solid pink; */
  }

  .composition {
    top: 14vw;
    left: 16vw;
    height: 68vw;
    /* outline: 1px solid red; */
  }

  #github-logo {
    bottom: 4vw;
    left: 84vw;
  }

  #primitivo-logo {
    left: 16vw;
    bottom: 4vw;
  }
}

@media only screen and (max-height: 820px), (max-width: 820px) {
  #github-logo {
    width: 36px;
    transform: translate(-100%, 28%);
  }
}

@media only screen and (max-height: 820px) and (min-height: 480px),
  (max-width: 590px) and (min-width: 480px) {
  h1 {
    font-size: 0.8rem;
  }
}

@media only screen and (max-height: 480px), (max-width: 480px) {
  h1 {
    font-size: 0.6rem;
  }
}
